<!--
<div id="banner">

</div> -->

<html>
<head>
  <title>WorkMeOut</title>
  <link href='http://fonts.googleapis.com/css?family=Frijole' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
</head>
<body>
  <header>
  <ul id="header-nav">
    <li><h1>WorkMeOut</h1></li>
    <li><h1><a href="/logout"> Logout</a></h1></li>
    <li><h1><a href="/"> Home</a></h1></li>
  </ul>
  </header>


  <% if logged_in? %>
  <body style="background-image: url('assets/background-2.jpg');">
  <a class="links" id="workouts" href="/workouts"> Workouts </a>
    <h1 id="bodypart-text"></h1>
    <%= image_tag "reartorso.png", :class => "rear-torso-image" %>

    <%= image_tag "armedit3.png", :class => "arm-image" %>
    <%= image_tag "rearlegedit.png", :class => "rear-leg-image" %>
    <%= image_tag "front-leg-final.png", :class => "front-leg-image" %>

  <!--  <%= image_tag "leftchest.png", :class => "leftchest"%>
   -->
  <!-- <div id="info">
    <h1 style="color: red; text-align: center; font-family: 'Frijole', cursive;"> What we provide </h1>
      <p style="color: red; text-align: center; font-family: 'Frijole'"> An innovative and efficient way for the user to learn about exercises </p>
      <h1 style="color: red; text-align: center; font-family: 'Frijole', cursive;"> How to use?</h1>
         <p style="color: red; text-align: center; font-family: 'Frijole'"> -Simply hover over the desired body part you wish to work out <br><br> -  Click on that body part<br><br> -Watch and Learn</p>
  </div>
   -->

  <!-- div id="contactinfo">
      <h1 style="color: red; text-align: center; font-family: 'Frijole', cursive;"> Contact </h1>
          <p style="color: red; text-align: center; font-family: 'Frijole'"> Email: Isaac.Saqib@stonybrook.edu </p>
          <p style="color: red; text-align: center; font-family: 'Frijole'">
            <a style="text-decoration: none; color: red; text-align: center; font-family: 'Frijole'" href="https://www.github.com/isaacsaqib/Workout_App"> Github
            </a>
          </p>
          <p style="color: red; text-align: center; font-family: 'Frijole'">
            <a style="text-decoration: none; color: red; text-align: center; font-family: 'Frijole'" href="https://www.linkedin.com/pub/isaac-saqib/95/a84/905">LinkedIn
            </a>
          </p>
  </div> -->

  <div id="videoContainer">
  </div>

  <%= image_tag "torsoedit2.png", :class => "torso" %>
    <!-- Left chest -->

    <div class="bodypart" id="Left-Chest">
      <div id="left-chest-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Right chest -->
    <div class="bodypart" id="Right-Chest">

      <div id="right-chest-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Abs -->
    <div class="bodypart" id="Abdominals">
      <div id="abdominals-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Right arm -->
    <div class="bodypart" id="Right-Arm">
      <div id="right-arm-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>

    <div id="arm-image-preview-container">
    <h1 style="text-align:center;">Arm</h1>
    <%= image_tag "arm-preview.png", :id => "arm-preview-image" %>
    </div>


    <!-- Left arm -->
    <div class="bodypart" id="Left-Arm">
      <div id="left-arm-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>

    <!-- Left leg -->
    <div class="bodypart" id="Left-Leg">
      <div id="left-leg-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Right leg -->
    <div class="bodypart" id="Right-Leg">
      <div id="right-leg-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>

    <div id="leg-image-preview-container">
    <h1 style="text-align:center;">Leg</h1>
    <%= image_tag "leg-preview.png", :id => "leg-preview-image" %>
    </div>


    <div class="bodypart" id="Shoulder">
      <div id="shoulder-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Bicep -->
    <div class="bodypart" id="Bicep">
      <div id="bicep-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Tricep -->
    <div class="bodypart" id="Tricep">
      <div id="tricep-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Forearm -->
    <div class="bodypart" id="Forearm">
      <div id="forearm-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Quad -->
    <div class="bodypart" id="Quad">
      <div id="quad-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Tibialis -->
    <div class="bodypart" id="Tibialis">
      <div id="tibialis-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Hamstring -->
    <div class="bodypart" id="Hamstring">
      <div id="hamstring-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Calve -->
    <div class="bodypart" id="Calve">
      <div id="calf-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Right glute -->
    <div class="bodypart" id="Right-Glute">
      <div id="right-glute-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Left glute  -->
    <div class="bodypart" id="Left-Glute">
      <div id="left-glute-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Left lat -->
    <div class="bodypart" id="Left-Lat">
      <div id="left-lat-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>
    <!-- Right lat -->
    <div class="bodypart" id="Right-Lat">
      <div id="right-lat-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>

    <div class="bodypart" id="Trapezius">
      <div id="trapezius-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>

    <div class="bodypart" id="Rhomboids">
      <div id="rhomboids-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>

    <div class="bodypart" id="Lower-Back">
      <div id="lowerback-dot">
      <div class="dot"></div>
      <div class="pulse"></div>
      </div>
    </div>

<!-- <h1 class="rear" id="rear-torso-text"> Back </h1> -->
       <h2 style="color:white;margin:0px;text-align:center;">back view</h2>
       <img style="height:30px;width:30px;" src="assets/return.png">

  <h1 class="rear" id="rear-leg-text"> Rear Leg </h1>

  </body>
<% else %>

  <div id="info-box">
    <h1 style="text-align:center;">Welcome to Work Me Out</h1>
    <p>Our mission is to provide the user with quick and efficient ways to organize their Workoutouts. By utilizing the Youtube Database, we have created a stunning view for the user to experience a revolutionary way of exploring exercises. Sign up to find out more!</p>
  </div>
<div id="form-box-signup">
      <h1 style="color:white; text-align:center;">Sign up.</h1>
  <ul class="forms">
     <li><%= form_for(@user) do |f| %></li>
       <li><%= f.label(:name) %></li>
         <li><%= f.text_field :name, class: "text-field" %></li>
       <li><%= f.label(:email) %></li>
         <li><%= f.text_field :email, class: "text-field"  %></li>
       <li><%= f.label(:password) %></li>
         <li><%= f.password_field :password, class: "text-field" %></li>
       <li><%= f.label(:password_confirmation) %></li>
         <li><%= f.password_field :password_confirmation, class: "text-field" %></li>
      <input class="buttons" id="signup-button" type="submit" value="Sign up">
    <% end %>
  </ul>
</div>


<div id="form-box-login">
    <h1 style="color:white; text-align:center;">Lets get started.</h1>
    <p> Time to get ripped. </p>
  <ul class="forms">
     <li><%= form_tag("/session", method: "post") do %></li>
          <li><%= label_tag(:email) %></li>
          <li><%= text_field_tag (:email) %></li>
          <li><%= label_tag(:password) %></li>
          <li><%= password_field_tag(:password) %></li>
         <input class="buttons" id="login-button" type="submit" value="Log in">
        <% end %>
  </ul>
  <br>
  <p id="signup-trigger"> Click here to sign up </p>
</div>

<% flash.each do |key, value| %>
   <div class="flash"><p style="text-align:center; color:red;"><%= value %></p><br></div>
<% end %>

<%end%>




<!-- <footer id="footer"> -->

<!-- </footer> -->


</body>
</html>
